{% extends 'clueless/base.html' %}
{% load static %}

{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/site/site.min.css" rel="stylesheet">

</head>


    <!--Winner -->

    <div class="hero bg-base-200 min-h-screen" style="position:absolute">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Game Over</h1>
          <p class="py-6">
            Congratulations, {{ winner }}! You have won the game!
          </p>
        </div>
      </div>
    </div>
<canvas id="my-canvas" width="640" height="480" style="position:absolute"></canvas>




{% endblock %}

{% block script %}
<script>
    var confettiSettings = { target: 'my-canvas' };
    var confetti = new ConfettiGenerator(confettiSettings);
    confetti.render();

</script>

{% endblock %}