<!-- clueless/templates/clueless/index.html -->
{% extends 'clueless/base.html' %}
{% load static %}

{% block content %}

<!-- Main Content -->
    <div class="container mx-auto">
      <div class="grid grid-cols-3">
          <div class="col-span-2">
              <div class="label">
                  <span class="text-xl">
                      What would you like to do:
                  </span>
              </div>
              <select id="player-select" class="select select-primary w-full max-w-xs" control-id="ControlID-1">
                  <option value="Move to Study">Move to Study</div>
                  <option value="Move to Ballroom">Move to Ballroom</div>
                  <option value="Move to Billiards">Move to Billiards Room</div>
                  <option value="Move to Dining Room">Move to Dining Room</div>
                  <option value="Move to Hallway">Move to Hall</div>
                  <option value="Move to Kitchen">Move to Kitchen</div>
                  <option value="Move to Lounge">Move to Lounge</div>
                  <option value="Move to Conservatory">Move to Conservatory</div>
                  <option value="Move to Library">Move to Library</div>
                  <option value="action item">Make a Suggestion</div>
                  <option value="action item">Make an Accusation</div>
              </select>
              <div class="label">
                  <button id="player-turn" class="btn btn-neutral"> Select Action </button>
              </div>
              <div id="game-board" class="grid grid-rows-5 grid-flow-col gap-5 font-mono text-white text-sm text-center font-bold leading-6 rounded-lg">
                {% for row in locations %}
                    {% for location in row %}
                        {% if location.location_id in blank_ids %}
                            <div id="{{ location.location_id }}" class="p-20 rounded-lg shadow-lg opacity-0" role="button">{{ location.name }}</div>
                        {% elif location.location_id in hallway_ids  %}
                            <div id="{{ location.location_id }}" class="p-20 rounded-lg shadow-lg bg-gray-500 opacity-55" role="button">{{ location.name }}</div>
                        {% else %}
                            <div id="{{ location.location_id }}" class="p-20 rounded-lg shadow-lg bg-blue-500" role="button">{{ location.name }}</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
          </div>
          <div class="col-span-1">
  
            <div id="player-log" class="container mx-auto overflow-auto max-h-dvh">
                <div class="label">
                    <span class="text-xl"> Game Log </span>
                </div>
                <!-- Render game log messages from javascript -->

            </div>
          </div>
      </div>
  </div>

  {% endblock %}
  
  {% block script %}

<script>

    // Game Session Websocket
    const activitySocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/clueless/gamestate/'
    );

    activitySocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    }

    // Enable the "Player Turn" button

    activitySocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        const playerLog = document.querySelector('#player-log');
        if (data.message == "player_turn") {
            // Enable the "Player Turn" button
            const startGameButton = document.querySelector('#player-turn');
            startTurnButton.disabled = false;
            startTurnButton.classList.remove('btn-disabled');
            startTurnButton.classList.add('btn');
        }
    };

    // Log messages from the game session


    activitySocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const playerLog = document.querySelector('#player-log');
        if (data.success === false) {
            playerLog.innerHTML += '<div class="chat chat-end"><div class="chat-bubble-error">' + data.message + '</div></div>';
        } else if (data.success === true) {
            playerLog.innerHTML += '<div class="chat chat-end"><div class="chat-bubble-success">' + data.message + '</div></div>';
        } else {
            playerLog.innerHTML += '<div class="chat chat-end"><div class="chat-bubble">' + data.message + '</div></div>';
        }
        playerLog.scrollTop = playerLog.scrollHeight;
    };

    // Register player turn for any location on the game board

    document.querySelector('#game-board').onclick = function(e) {
        console.log("Clicked " + e.target.id);
        const location = e.target.id;
        // get char id from url path
        const charID = window.location.href.split('/').pop();

        activitySocket.send(JSON.stringify({
            'message': "Selected " + location,
            'char_id': charID,
            'location_id': location,
            'subtype': 'player_move',
            "type": "status.update"
        }));
    };



    // User Session Websocket

    const currentCharID = window.location.href.split('/').pop(); 
   
    const playerActivitySocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/clueless/usersession/'
        + window.location.href.split('/').pop()
    );

    playerActivitySocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    }

    playerActivitySocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const playerLog = document.querySelector('#player-log');
       
        playerLog.innerHTML += '<div class="chat chat-end"><div class="chat-bubble">' + data.message + '</div><div class="chat-footer opacity-50">Private</div></div>';

        playerLog.scrollTop = playerLog.scrollHeight;
    };



</script>

{% endblock %}
        