<!-- clueless/templates/clueless/index.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets, Icons, Fonts, etc.-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <main>
    <!-- Navigation Bar -->

            <!--- Logo and Team Name -->
            <nav class="navbar navbar-expand-lg fixed">
                <div class="container-fluid justify-content-between">
                    <a class="navbar-brand nav">
                        <img src="{% static 'clueless/images/logo-transparent.png' %}" alt="" width="250" height="150" href="#/clueless">
                        
                    </a>
                    <h1> Clue-Less </h1>
                    <div class="collapse navbar-collapse">
                        
                    </div>
                </div>
            </nav>

    <!-- Main Content -->

        <div class="container container-fluid">
            <div class="row row-cols-2"> 
                <div class="col-md-6">
                    <h1>Join the Game</h1>
                    <p>Which player would you like to be?</p>
                    <select id="player-select" class="form-select">
                        <option value="Miss Scarlett">Miss Scarlett</option>
                        <option value="Colonel Mustard">Colonel Mustard</option>
                        <option value="Mrs. Peacock">Mrs. Peacock</option>
                        <option value="Mr. Green">Mr. Green</option>
                        <option value="Dr. Orchid">Dr. Orchid</option>
                        <option value="Professor Plum">Professor Plum</option>
                    </select>
                    <br>
                    <input id="player-submit" type="button" value="Enter" class="btn btn-primary"> <br>
                </div>
                <div class="col-md-6">
                    <h2>Game Log</h2>
                    <textarea id="player-log" cols="100" rows="20" class="form-control"></textarea><br>
                </div>
            </div>
        
    </main>

    <script>
        document.querySelector('#player-select').focus();
        document.querySelector('#player-select').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#player-submit').click();
            }
        };

        const activitySocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/clueless/gameroom/'
        );

        activitySocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#player-log').value += (data.message + '\n');
        };

        activitySocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#player-submit').onclick = function(e) {
            const selectedPlayer = document.querySelector('#player-select').value;
            activitySocket.send(JSON.stringify({
                'message': selectedPlayer + ' has joined the game.'
            }));
        };
        
    </script>
</body>
</html>