<!-- clueless/templates/clueless/index.html -->
{% extends 'clueless/base.html' %}
{% load static %}

{% block content %}

<!-- Main Content -->

<div class="container mx-auto">
    <div class="grid grid-cols-3">
        <div class="col-span-1">
            <div class="label">
                <span class="text-xl">
                    Which player would you like to be?
                </span>
            </div>
            <select id="player-select" class="select select-primary w-full max-w-xs" control-id="ControlID-1">
                {% for player in char_choices %}
                <option value="{{ player.id }}" {% if player.selected %} disabled {% endif %} >{{ player.name }}</option>
                {% endfor %}
                
            </select>
            <div class="label">
                <button id="player-submit" class="btn btn-neutral" aria-control> Select Character </button>

                <!-- Start Game Button (disabled by default) -->
        
                <input id="start-game" type="button" value="Start Game" class="btn btn-disabled" disabled>
            </div>
        </div>
        <div class="col-span-2">

            <div id="player-log" class="container mx-auto overflow-auto max-h-dvh">
                <div class="label">
                    <span class="text-xl"> Game Log </span>
                </div>
                <!-- Render game log messages from javascript -->

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.querySelector('#player-select').focus();
    document.querySelector('#player-select').onkeyup = function (e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#player-submit').click();
        }
    };

    const activitySocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/clueless/gameroom/'
    );

    let playerCount = 0;

    activitySocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const playerLog = document.querySelector('#player-log');
        playerLog.innerHTML += '<div class="chat chat-end"><div class="chat-bubble">' + data.message + '</div></div>';
        playerLog.scrollTop = playerLog.scrollHeight;
        
        // Set selected player to hidden in dropdown
        const selectedPlayer = document.querySelector('#player-select option[value="' + data.char_selected + '"]');
        selectedPlayer.disabled = true;
        // Unselect the selected player

        

        if (data.message.includes('has joined the game')) {
            playerCount += 1;
        }

        // Enable the "Start Game" button if 2 or more players have joined
        if (playerCount >= 2) {
            const startGameButton = document.querySelector('#start-game');
            startGameButton.disabled = false;
            startGameButton.classList.remove('btn-disabled');
            startGameButton.classList.add('btn');
        }

    };

    activitySocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#player-submit').onclick = function (e) {
        const selectedPlayerID = document.querySelector('#player-select').value;
        const selectedPlayerName = document.querySelector('#player-select option[value="' + selectedPlayerID + '"]').text;
        activitySocket.send(JSON.stringify({
            'message': selectedPlayerName + ' has joined the game.',
            'char_selected': selectedPlayerID
        }));
    };

    document.querySelector('#start-game').onclick = function (e) {
        const selectedPlayer = document.querySelector('#player-select').value;
        activitySocket.send(JSON.stringify({
            'message': selectedPlayer + ' has started the game.',
            'char_selected': selectedPlayer
        }));
    };

</script>

{% endblock %}
